[Desktop Entry]
Encoding=UTF-8
Name=Link to  
Type=Link
URL=https://www.freelogoservices.com/api/main/ph/zjHl2lgef9cYrQL0JFa7kzbw2vuGrhNJnRfO1jt9OXdE9g5shnN1i...Bv9ettdV9dsBUGw0pYZJdj13oyDN9Qzxdk
Icon=image-png
